{% extends 'base.html' %}
{% block content %}

body {
    font-family: 'Arial', sans-serif;
}

.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

.form-control {
    margin-bottom: 10px;
}

.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
    color: #fff;
    width: 100%;
    padding: 10px;
    font-size: 16px;
}

.btn-primary:hover {
    background-color: #0056b3;
    border-color: #0056b3;
}

<div class="container">
    <h2>پرداخت موفق</h2>
    <p>پرداخت شما با موفقیت انجام شد. متشکریم</p>
</div>
{% endblock %}